<div class="row mt-4 mb-4">
  <button
    type="button"
    class="btn btn-outline-primary col-md-2"
    data-bs-toggle="modal"
    data-bs-target="#createItemModal"
  >
    Add new customer
  </button>
</div>

<!-- Create Item Modal -->
<div
  class="modal fade"
  id="createItemModal"
  tabindex="-1"
  aria-labelledby="createItemModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createItemModalLabel">New Customer</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="createCustomerForm"
          (ngSubmit)="handleFormSubmission()"
        >
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="firstName"
              required
            />
            <div
              *ngIf="
                firstName.invalid && (firstName.touched || firstName.dirty)
              "
            >
              <span class="text-danger" *ngIf="firstName.errors?.required">
                *First Name is required
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="lastName"
              required
            />
            <div
              *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)"
            >
              <span class="text-danger" *ngIf="lastName.errors?.required">
                *Last Name is required
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              formControlName="email"
              type="text"
              class="form-control"
              id="email"
              required
            />
            <div *ngIf="email.invalid && (email.touched || email.dirty)">
              <span class="text-danger" *ngIf="email.errors?.required">
                *Email is required
              </span>
              <span class="text-danger" *ngIf="email.errors?.email">
                *Email is invalid
              </span>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="createCustomerForm.invalid"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Create Modal Completed-->
