<button
  type="button"
  class="btn btn-warning"
  data-bs-toggle="modal"
  data-bs-target="#updateModal"
>
  Update
</button>

<!-- Update Item Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateItemModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateItemModalLabel">Selected Customer</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="{{ customer.id + '_firstName' }}"
            [(ngModel)]="customer.firstName"
            value="customer.firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="{{ customer.id + '_lastName' }}"
            [(ngModel)]="customer.lastName"
            value="customer.lastName"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="{{ customer.id + '_email' }}"
            [(ngModel)]="customer.email"
            value="customer.email"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Create Modal Completed-->
